<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
<p-toast></p-toast>
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    #4eb4e0 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <!-- TODO: Trocar pra logo do cara -->
                    <img
                        src="assets/layout/images/angular_solidBlack.svg"
                        alt="Image"
                        height="50"
                        class="mb-3"
                    />
                </div>

                <div>
                    <form [formGroup]="formulario" (ngSubmit)="register()">
                        <span class="p-float-label block text-900">
                            <input
                                id="name-input"
                                type="text"
                                pInputText
                                class="w-full d:w-30rem"
                                style="padding: 1rem"
                                formControlName="name"
                            />
                            <label for="name-input">Nome</label>
                        </span>
                        <br /><br />
                        <span class="p-float-label block text-900">
                            <input
                                id="email-input"
                                type="email"
                                pInputText
                                class="w-full d:w-30rem"
                                style="padding: 1rem"
                                formControlName="email"
                            />
                            <label for="email-input">Email</label>
                        </span>
                        <br /><br />
                        <span class="p-float-label block text-900">
                            <p-password id="password-input" formControlName="password" [toggleMask]="true" inputStyleClass="w-full p-3 md:w-30rem">
                                <ng-template pTemplate="header">
                                    <h6>Nível de segurança</h6>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">É nescessário:</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>Pelo menos uma minúscula</li>
                                        <li>Pelo menos uma maiúscula</li>
                                        <li>Pelo menos um número</li>
                                        <li>No mínimo 6 caracteres</li>
                                    </ul>
                                </ng-template>
                            </p-password>
                            <label for="password-input">Senha</label>
                        </span>
                        <br /><br />
                        <button
                            pButton
                            pRipple
                            label="Registrar"
                            class="w-full p-3 text-xl"
                           type="submit"
                           [loading]="registerLoading"
                        ></button>
                    </form>
                    <br><br>
                    <div class="text-center">
                        <a routerLink="/auth/login">Já possui um conta? Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
