<div
    class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
<p-toast></p-toast>
    <div class="flex flex-column align-items-center justify-content-center">
        <div
            style="
                border-radius: 56px;
                padding: 0.3rem;
                background: linear-gradient(
                    180deg,
                    #F28705 10%,
                    rgba(33, 150, 243, 0) 30%
                );
            "
        >
            <div
                class="w-full surface-card py-8 px-5 sm:px-8"
                style="border-radius: 53px"
            >
                <div class="text-center mb-5">
                    <img
                        src="assets/layout/images/logo.png"
                        alt="Image"
                        height="50"
                        class="mb-3"
                    />
                </div>

                <div>
                    <form [formGroup]="formulario" (ngSubmit)="login()">
                        <span class="p-float-label block text-900">
                            <input
                                id="email-input"
                                type="email"
                                pInputText
                                class="w-full d:w-30rem"
                                style="padding: 1rem"
                                formControlName="email"
                            />
                            <label for="email-input">Email</label>
                        </span>
                        <br /><br />
                        <span class="p-float-label block text-900">
                            <p-password id="password-input" formControlName="password" [toggleMask]="true" inputStyleClass="w-full p-3 md:w-30rem" [feedback]="false"></p-password>
                            <label for="password-input">Senha</label>
                        </span>
                        <br /><br />
                        <button
                            pButton
                            pRipple
                            label="Logar"
                            class="w-full p-3 text-xl"
                           type="submit"
                           [loading]="loginLoading"
                        ></button>
                    </form>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
