<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Nova Visita" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNewVisita()" [loading]="visitaLoading"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="visitas" [columns]="cols" responsiveLayout="scroll" [globalFilterFields]="['_id', 'cliente.nome', 'cliente.telefone', 'cliente.endereco', 'dataVisita', 'formaContato', 'notificarWpp', 'profissional.nome']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} visitas abertas" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Visitas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="cliente.nome">Nome <p-sortIcon field="cliente.nome"></p-sortIcon></th>
                        <th pSortableColumn="cliente.telefone">Telefone <p-sortIcon field="cliente.telefone"></p-sortIcon></th>
                        <th pSortableColumn="cliente.endereco">Endereço <p-sortIcon field="cliente.endereco"></p-sortIcon></th>
                        <th pSortableColumn="data">Data Agendamento <p-sortIcon field="data"></p-sortIcon></th>
                        <th pSortableColumn="profissional.nome">Vistoriador <p-sortIcon field="profissional.nome"></p-sortIcon></th>
                        <th pSortableColumn="formaContato">Forma de contato <p-sortIcon field="formaContato"></p-sortIcon></th>
                        <th pSortableColumn="notificarWpp">Notificar Wpp <p-sortIcon field="notificarWpp"></p-sortIcon></th>
                        <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-visita>
                    <tr>
                        <td style="width:12%; min-width:12rem;">
                            <span class="p-column-title">Nome</span>
                            {{visita?.cliente?.nome}}
                        </td>
                        <td style="width:12%; min-width:12rem;">
                            <span class="p-column-title">Telefone</span>
                            {{visita?.cliente?.telefone}}
                        </td>
                        <td style="width:12%; min-width:12rem;">
                            <span class="p-column-title">Endereço</span>
                            <a [href]="'http://maps.google.com/?q='+visita.endereco" target="_blank">
                                {{visita.endereco}}
                            </a>
                        </td>
                        <td style="width:12%; min-width:12rem;">
                            <span class="p-column-title">Data Agendamento</span>
                            {{visita.dataVisita | date: 'dd/MM/yyyy'}}
                        </td>
                        <td style="width:12%; min-width:12rem;">
                            <span class="p-column-title">Vistoriador</span>
                            {{visita.profissional?.nome}}
                        </td>
                        <td style="width:12%; min-width:12rem;">
                            <span class="p-column-title">Chegou pelo Site</span>
                            <b>{{visita.formaContato ? visita.formaContato : 'Não definido'}}</b>
                        </td>
                        <td style="width:12%; min-width:6rem;">
                            <span class="p-column-title">Notificar Wpp</span>
                            <b>{{visita.notificarWpp ? 'Sim' : 'Não'}}</b>
                        </td>
                        <td style="width:12%; min-width:6rem;">
                            <span class="p-column-title">Status</span>
                            <b>{{visita.status === 'ORCAMENTO_CRIADO' ? 'ORÇAMENTO CRIADO' : visita.status}}</b>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2" (click)="viewVisita(visita)"></button>
                                <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success" (click)="finalizarVisita(visita)" *ngIf="visita.status === 'PENDENTE'"></button>
                                <button pButton pRipple icon="pi pi-dollar" class="p-button-rounded p-button-success" (click)="onNewOrcamento(visita)" *ngIf="visita.status === 'EXECUTADA'"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- TODO: Quando for criar os clientes, permitir que selecione clientes já existentes usando um p-autoComplete no nome do cliente, que quando selecionado popula todos os outros campos -->
        <p-dialog [(visible)]="visitaDialog" [style]="{width: '1200px'}" [modal]="true" class="p-fluid" [maximizable]=true>
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="col-12">
                        <h5>Dados cliente</h5>
                    </div>
                    <div class="field col-6 mt-3 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="inputNome" pInputText [(ngModel)]="cliente.nome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !cliente.nome}" [disabled]="visitaViewMode">
                            <label for="inputNome">Nome do cliente*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !cliente.nome">Insira um nome</small>
                    </div>
                    <div class="field col-6 mt-3 mt-3">
                        <span class="p-float-label">
                            <p-inputMask [unmask]="true" id="inputCpf" [(ngModel)]="cliente.cpf" [disabled]="visitaViewMode" placeholder="999.999.999-99" mask="999.999.999-99" [autoClear]="false" [ngClass]="{'ng-invalid ng-dirty' : submitted && !cliente.telefone}"></p-inputMask>
                            <label for="inputCpf">CPF</label>
                        </span>
                    </div>
                    <div class="field col-6 mt-3 mt-3">
                        <span class="p-float-label">
                            <p-inputMask [unmask]="true" id="inputTelefone" [(ngModel)]="cliente.telefone" [required]=true placeholder="(99) 99999-9999" mask="(99) 99999-9999" [ngClass]="{'ng-invalid ng-dirty' : submitted && !cliente.telefone}" [disabled]="visitaViewMode"></p-inputMask>
                            <label for="inputTelefone">Telefone*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !cliente.telefone">Insira um telefone</small>
                    </div>
                    <div class="field col-6 mt-3 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="inputEmail" pInputText [(ngModel)]="cliente.email" [disabled]="visitaViewMode">
                            <label for="inputEmail">Email</label>
                        </span>
                    </div>
                    <div class="field col-4 mt-3">
                        <span class="p-float-label">
                            <input maxlength="9" type="text" id="CepVisitaInputEditDialog" pInputText [(ngModel)]="endereco.cep" (blur)="onCepSelected()" [disabled]="visitaViewMode">
                            <label for="CepVisitaInputEditDialog">CEP</label>
                        </span>
                    </div>
                    <div class="field col-4 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="RuaVisitaInputEditDialog" pInputText [(ngModel)]="endereco.rua" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.rua}" [disabled]="visitaViewMode">
                            <label for="RuaVisitaInputEditDialog">Rua*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.rua">Defina uma rua para o atendimento.</small>
                    </div>
                    <div class="field col-4 mt-3">
                        <span class="p-float-label">
                            <input maxlength="5" type="number" id="NúmeroVisitaInputEditDialog" pInputText [(ngModel)]="endereco.numero" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.rua}" [disabled]="visitaViewMode">
                            <label for="NúmeroVisitaInputEditDialog">Número*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.rua">Defina um número para o atendimento.</small>
                    </div>
                    <div class="field col-4 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="BairroVisitaInputEditDialog" pInputText [(ngModel)]="endereco.bairro" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.bairro}" [disabled]="visitaViewMode">
                            <label for="BairroVisitaInputEditDialog">Bairro*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.bairro">Defina um bairro para o atendimento.</small>
                    </div>
                    <div class="field col-4 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="CidadeVisitaInputEditDialog" pInputText [(ngModel)]="endereco.cidade" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.cidade}" [disabled]="visitaViewMode">
                            <label for="CidadeVisitaInputEditDialog">Cidade*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.cidade">Defina uma cidade para o atendimento.</small>
                    </div>
                    <div class="field col-4 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="UfVisitaInputEditDialog" pInputText [(ngModel)]="endereco.uf" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.uf}" [disabled]="visitaViewMode">
                            <label for="UfVisitaInputEditDialog">UF*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.uf">Defina um estado para o atendimento.</small>
                    </div>
                    <div class="col-12 mt-3">
                        <h5>Detalhes Visita</h5>
                    </div>
                    <div class="field lg:col-6 col-12 mt-3" *ngIf="!visitaViewMode">
                        <span class="p-float-label">
                            <p-calendar [showTime]="true" appendTo="body" dateFormat="dd/mm/yy" [showIcon]="true" id="inputDataVisita" [(ngModel)]="visita.dataVisita" [required] = true [ngClass]="{'ng-invalid ng-dirty' : submitted && !visita.dataVisita}" [disabled]="visitaViewMode"></p-calendar>
                            <label for="inputDataVisita">Data da visita*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !visita.dataVisita">Insira uma data</small>
                    </div>
                    <div class="field col-6 mt-3" *ngIf="visitaViewMode">
                        <span class="p-float-label">
                            <input type="text" pInputText id="inputDataVisita" [ngModel]="visita.dataVisita | date: 'dd/MM/yyyy'" [required] = true [ngClass]="{'ng-invalid ng-dirty' : submitted && !visita.dataVisita}" [disabled]="visitaViewMode">
                            <label for="inputDataVisita">Data da visita*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !visita.dataVisita">Insira uma data</small>
                    </div>
                    <div class="field-checkbox lg:col-3 col-12 mt-3">
                        <div class="field-radiobutton mr-3">
                            <p-radioButton name="formaContato" value="SITE" [(ngModel)]="visita.formaContato" id="radioSite" [disabled]="visitaViewMode"></p-radioButton>
                            <label for="radioSite">Site</label>
                        </div>
                        <div class="field-radiobutton mr-3">
                            <p-radioButton name="formaContato" value="BALCÃO" [(ngModel)]="visita.formaContato" id="radioBalcao" [disabled]="visitaViewMode"></p-radioButton>
                            <label for="radioBalcao">Balcão</label>
                        </div>
                        <div class="field-radiobutton">
                            <p-radioButton name="formaContato" value="TELEFONE" [(ngModel)]="visita.formaContato" id="radioTelefone" [disabled]="visitaViewMode"></p-radioButton>
                            <label for="city1">Telefone</label>
                        </div>
                    </div>
                    <div class="field-checkbox lg:col-3 col-6 mt-3">
						<p-checkbox name="group1" [binary]="true" label="Enviar Notificações por WPP?" [(ngModel)]="visita.notificarWpp" id="checkNotificarWpp" [disabled]="visitaViewMode"></p-checkbox>
					</div>
                    <div class="field col-6 mt-3">
                        <span class="p-float-label">
                            <p-dropdown appendTo="body" inputId="inputVistoriador" [autoDisplayFirst]="false" [options]="profissionais" [(ngModel)]="visita.profissional" optionLabel="nome" [required]="true" [ngClass]="{'ng-invalid ng-dirty' : submitted && !visita.profissional}" [disabled]="visitaViewMode"></p-dropdown>
                            <label for="inputVistoriador">Vistoriador</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !visita.profissional">Insira um vistoriador</small>
                    </div>
                    <div class="field col-12 mt-3">
                        <span class="p-float-label">
                            <textarea  rows="5" cols="30" id="inputObservacaoVisita" pInputTextarea [(ngModel)]="visita.observacao" [disabled]="visitaViewMode"></textarea>
                            <label for="inputObservacaoVisita">Observação</label>
                        </span>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-secondary" *ngIf="!visitaViewMode" (click)="hideDialog()" [loading]="visitaLoading"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text p-button-success" *ngIf="!visitaViewMode" (click)="saveVisita()" [loading]="visitaLoading"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="orcamentoDialog" [style]="{width: '1200px'}" [modal]="true" class="p-fluid" [maximizable]=true>
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="col-12">
                        <h5>Dados cliente</h5>
                    </div>
                    <div class="field col-6 mt-3 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="inputNome" pInputText [(ngModel)]="cliente.nome" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !cliente.nome}" [disabled]="true">
                            <label for="inputNome">Nome do cliente*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !cliente.nome">Insira um nome</small>
                    </div>
                    <div class="field col-6 mt-3 mt-3">
                        <span class="p-float-label">
                            <p-inputMask [unmask]="true" id="inputCpf" [(ngModel)]="cliente.cpf" placeholder="999.999.999-99" mask="999.999.999-99" [disabled]="true"></p-inputMask>
                            <label for="inputCpf">CPF</label>
                        </span>
                    </div>
                    <div class="field col-6 mt-3 mt-3">
                        <span class="p-float-label">
                            <p-inputMask [unmask]="true" id="inputTelefone" [(ngModel)]="cliente.telefone" [required]=true placeholder="(99) 99999-9999" mask="(99) 99999-9999" [ngClass]="{'ng-invalid ng-dirty' : submitted && !cliente.telefone}" [disabled]="true"></p-inputMask>
                            <label for="inputTelefone">Telefone*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !cliente.telefone">Insira um telefone</small>
                    </div>
                    <div class="field col-6 mt-3 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="inputEmail" pInputText [(ngModel)]="cliente.email" [disabled]="true">
                            <label for="inputEmail">Email</label>
                        </span>
                    </div>
                    <div class="field col-6 mt-3">
                        <span class="p-float-label">
                            <input maxlength="9" type="text" id="CepVisitaInputEditDialog" pInputText [(ngModel)]="endereco.cep" (blur)="onCepSelected()" [disabled]="true">
                            <label for="CepVisitaInputEditDialog">CEP</label>
                        </span>
                    </div>
                    <div class="field col-6 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="RuaVisitaInputEditDialog" pInputText [(ngModel)]="endereco.rua" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.rua}" [disabled]="true">
                            <label for="RuaVisitaInputEditDialog">Rua*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.rua">Defina uma rua para o atendimento.</small>
                    </div>
                    <div class="field col-6 mt-3">
                        <span class="p-float-label">
                            <input maxlength="5" type="number" id="NúmeroVisitaInputEditDialog" pInputText [(ngModel)]="endereco.numero" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.rua}" [disabled]="true">
                            <label for="NúmeroVisitaInputEditDialog">Número*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.rua">Defina um número para o atendimento.</small>
                    </div>
                    <div class="field col-6 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="BairroVisitaInputEditDialog" pInputText [(ngModel)]="endereco.bairro" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.bairro}" [disabled]="true">
                            <label for="BairroVisitaInputEditDialog">Bairro*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.bairro">Defina um bairro para o atendimento.</small>
                    </div>
                    <div class="field col-6 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="CidadeVisitaInputEditDialog" pInputText [(ngModel)]="endereco.cidade" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.cidade}" [disabled]="true">
                            <label for="CidadeVisitaInputEditDialog">Cidade*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.cidade">Defina uma cidade para o atendimento.</small>
                    </div>
                    <div class="field col-6 mt-3">
                        <span class="p-float-label">
                            <input type="text" id="UfVisitaInputEditDialog" pInputText [(ngModel)]="endereco.uf" [ngClass]="{'ng-invalid ng-dirty' : submitted && !endereco.uf}" [disabled]="true">
                            <label for="UfVisitaInputEditDialog">UF*</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !endereco.uf">Defina um estado para o atendimento.</small>
                    </div>
                    <div class="col-12 mt-3">
                        <h5>Detalhes Orçamento</h5>
                    </div>
                    <div class="field col-6 mt-3">
                        <span class="p-float-label">
                            <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" id="inputValor" [(ngModel)]="orcamento.valor" [required] = true [ngClass]="{'ng-invalid ng-dirty' : submitted && !orcamento.valor}"></p-inputNumber>
                            <label for="inputValor">Valor Orçamento</label>
                        </span>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !orcamento.valor">Insira um valor</small>
                    </div>
                    <div class="field col-2 mt-4">
                        <div class="field-radiobutton">
                            <p-radioButton name="city" value="VISTA" [(ngModel)]="orcamento.tipoPagamento" id="tipoVista"></p-radioButton>
                            <label for="tipoVista">Pagamento a Vista</label>
                        </div>
                    </div>
                    <div class="field col-2 mt-4">
                        <div class="field-radiobutton">
                            <p-radioButton name="city" value="PRAZO" [(ngModel)]="orcamento.tipoPagamento" id="tipoPrazo"></p-radioButton>
                            <label for="tipoPrazo">Pagamento a Prazo</label>
                        </div>
                    </div>
                    <div class="field col-2 mt-4">
                        <div class="field-radiobutton">
                            <p-radioButton name="city" value="PARCELADO" [(ngModel)]="orcamento.tipoPagamento" id="tipoParcelado"></p-radioButton>
                            <label for="tipoParcelado">Pagamento Parcelado</label>
                        </div>
                    </div>
                    <div class="field col-12 mt-4">
                        <span class="p-float-label">
                            <textarea  rows="5" cols="30" id="inputObservacaoOrcamento" pInputTextarea [(ngModel)]="orcamento.observacao" [disabled]="visitaViewMode"></textarea>
                            <label for="inputObservacaoOrcamento">Observação orçamento</label>
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-secondary" *ngIf="!visitaViewMode" (click)="hideDialog()" [loading]="orcamentoLoading"></button>
                <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text p-button-success" *ngIf="!visitaViewMode" (click)="saveOrcamento()" [loading]="orcamentoLoading"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="finalizaVisitaDialog" header="Finalizar visita" [modal]="true" [style]="{width:'900px'}">
            <div class="formgrid grid">
                <div class="field col-12 mt-4">
                    <span class="p-float-label">
                        <textarea inputId="descricaoVisita" rows="5" [(ngModel)]="visita.descricao" pInputTextarea style="width: 100%;"></textarea>
                        <label for="descricaoVisita">Descreva a visita</label>
                    </span>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text p-button-secondary" label="Cancelar" (click)="finalizaVisitaDialog = false" [loading]="visitaLoading"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text p-button-success" label="Finalizar Visita" (click)="confirmFinalizarVisita()" [loading]="visitaLoading"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
